html {
    background-color: #111;
    font-family: sans-serif;
    color: #eff;
}

body {
    margin: 0 auto;
    width: 100%;
    max-width: 80ch;
    padding: 1rem;
    line-height: 1.5;
}

* {
    box-sizing: border-box;
}

h1 {
    margin: 1rem 0;
    font-size: 2.5rem;
    text-align: center;
}

.profileImage {
    display: block;
    margin: 0 auto;
    object-fit: cover;
    border-radius: 16px;
}

.youtube {
    width: 100%;
    aspect-ratio: 16/9;
    height: auto;
}

code, pre {
    background-color: #066;
    padding: 0.25rem;
    border-radius: 0.125rem;
    color: #0ff;
}