.projects {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.links {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.title {
    margin: 0;
    /* color: #0ff; */
    background: white;
    padding: 0.25rem 0.5rem;
    color: black;
    width: fit-content;
}

.card {
    border-radius: 0.5rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.card img {
    max-width: 10vw;
    height: auto;
    object-fit: cover;
}

.card .content {
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.card .header {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: end;
}

.card .mainLink {
    font-size: 18pt;
    text-decoration: none;
}

.card .dates {
    color: #888;
}

.card .tags {
    display: flex;
    flex-direction: row;
    gap: 0.25rem;
    flex-wrap: wrap;
    font-size: 10pt;
    color: #088;
}

.card .tag {
    height: fit-content;
}
