---
import Layout from "../layouts/BaseLayout.astro"
import '../styles/global.css';

const pageTitle: string = "Blog";
const description: string = "For my thoughts!";
const allPosts = await Astro.glob('./posts/*.md');

---

<Layout title={pageTitle}>
    <main>
        <h3>{description}</h3>
        {allPosts.map((post) => <li><a href={post.url}>{post.frontmatter.title}</a></li>)}
    </main>
</Layout>