---
import Layout from "../layouts/BaseLayout.astro"
import '../styles/global.css';

const pageTitle: string = "Blog";
const allPosts = await Astro.glob('./posts/*.md');

---

<Layout title={pageTitle}>
    <main>
        {allPosts.map((post) => <a href={post.url}>{post.frontmatter.title}</a>)}
    </main>
</Layout>